:root {
    --dark-text: #000000;
    --price-col: #b30606;
    --background-acc: #e7e7e7;
    --shad: #808080;
    --main: #242b3a;
}

.grid-container {
    padding-top: 2em;
    padding-bottom: 2em;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 1em;
    background-color: var(--background-acc);
}

.prod-container {
    padding-top: 2em;
    display: flex;
}

.invis-link {
    text-decoration: none;
    color: inherit;
}

.main-img {
    border-style: solid;
    border-width: 2px;
    border-color: var(--shad);
    margin-left: 10em;
    width: 35%;
    margin-right: 2em;
}

.grid-item {
    position: relative;
    border-style: solid;
    border-width:2px;
    background-color: white;
    padding: 10px;
    width: 12em;
    box-shadow: 5px 10px 10px 0px var(--shad);
}

.prod-name {
    color: var(--dark-text);
    border-bottom: 2px solid var(--dark-text);
    text-align: center;
}

.prod-price {
    width: 50%;
    color: var(--price-col);
}

.prod-img {
    border-style: solid;
    border-width: 2px;
    border-color: var(--shad);
    width: 100%;
}

.add-btn {
    background-color: var(--background-acc);
    border-style: solid;
    border-color: var(--dark-text);
    border-width: 2px;
}

.add-btn:hover {
    background-color: var(--shad);
    border-style: solid;
    border-color: var(--dark-text);
    border-width: 2px;
}

#search-div {
    padding-top: 2em;
}

#srch-field {
    width: 80%;
}

.flex-container {
    display: flex;
}

#main-content {
    position: relative;
    color: black;
    width: 100%;
    height: 25em;
    padding-left: 2em;
}

#header {
    color: white;
    background: var(--main);
    display: grid;
    grid-template-columns: 1fr 4fr 8fr 1fr;
    padding-left: 1em;
    padding-right: 1em;
}

.nav-btn {
    color: white;
    background: none;
    border: none;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    height: 95%;
}

.nav-btn:hover {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
}

#page-title {
    margin-left: 1em;
}

#logo {
    width: 5em;
    height: 5em;
}

td {
    justify-content: center;
    padding: 1em;
}