td {
    text-align: center;
    padding: 1em;
}
th {
    padding: 1em;
}

tr {
    border-bottom: 2px solid black;
}

table {
    border-collapse: collapse;
}

.btn-cont {
    display: flex;
    padding-top: 2em;
}